<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tfb.fitnessapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp"
        tools:targetApi="31">

        <activity
            android:name=".activities.DashBoardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ConfirmPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.JoinAsTrainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.JoinAsClientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContinueAsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OnboardingdetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TrainerContinuewithActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TrainerDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OTPVerificationNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VerifyOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WelcomeProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WorkoutGoalsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CaloryIntakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InjuriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WelcomeProfileTrainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PreferWorkoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GymAccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InviteLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseAvailabilityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseTimeSlotsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VerifyyourNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SessionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PricingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PerSessionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupSessionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupsessionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddNewWorkoutprogrammsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DiscountsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PercentageDiscountsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyScheduleDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MealMarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MySchedulelistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewBookingsAlertsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessagesDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ClientsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ClientsActivityandRecordsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>